<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Document</title>
</head>

<body>
    <section class="main-container">
        <h2>TODO List</h2>
        <p>A place to store the things you have to do!</p>
        <input class="filter-input" type="text" placeholder="Filter your to-dos" ng-model="test">
        <section ng-controller="TodoController as $ctrl">
            <ol>
                <li class="todo-list" ng-repeat="item in $ctrl.list | filter:test" ng-class="{'completed': item.completed === true}">
                    <button class="complete-btn" type="button" ng-if="item.completed === false" ng-click="$ctrl.completeTask(item);">Complete</button>
                    {{ item.task }}
                    <button class="delete-btn" type="button" ng-click="$ctrl.removeTask($index)"><i class="fas fa-times"></i></button>
                    <div class="clear-fix"></div>
                </li>
            </ol>
            <input class="task-input" type="text" placeholder="Add your to-do" ng-model="$ctrl.taskToAdd.task">
            <button class="add-btn" type="button" ng-click="$ctrl.addTask($ctrl.taskToAdd);">Add</button>
        </section>
        
    </section>


    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>
</body>

</html>